@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');

/**************************\
 * Colors:
 *
 * BC-RED: #6d1e39
 * BC-Yellow: #fad129
\**************************/

* {
  margin: 0;
  padding: 0;
  font-family: Lato, Arial, Helvetica, sans-serif;
}
