@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');

:root {
  --bc-red: #6d1e39;
  --bc-yellow: #fad129;
}

* {
  margin: 0;
  padding: 0;
  font-family: Lato, Arial, Helvetica, sans-serif;
}
