.btn-yellow,
.btn-red {
  transition: all 0.2s;
  border-radius: 0;
}

.btn-yellow:hover {
  background-color: #e9c226;
}

.btn-yellow:active {
  transform: none !important;
  background-color: var(--bc-yellow);
}

.btn-red {
  color: white;
  background-color: var(--bc-red);
}

.btn-red:hover {
  background-color: #5e132d;
}

.btn-red:active {
  transform: none !important;
  background-color: var(--bc-red);
}

.review-container {
  margin: 40px 30px;
  padding: 20px 60px;
  background-color: rgb(160, 63, 97);
  color: white;
}

.split-column {
  display: flex;
  flex-direction: row;
  background-color: #ffffff;
  color: black;
  min-height: 40vh;
}

.split-column-1 {
  width: 40vw;
}

.split-column-2 {
  width: 60vw;
}

.file-column {
  padding: 20px 10px;
}

.files-container {
  display: flex;
  flex-direction: column;
  overflow: auto;
}

.file-box {
  color: black;
  background-color: #f4c611;
  margin: 20px;
  padding: 30px 20px;
}

.file-box a {
  text-decoration: none;
  color: black;
}

.larger-text {
  font-size: 1.3rem;
}

.center {
  text-align: center;
}

.left {
  text-align: start;
}

.some-margin {
  margin: 20px 20px;
}

@media (max-width: 700px) {
  .split-column {
    flex-direction: column;
  }

  .split-column-1,
  .split-column-2 {
    width: 100vw;
  }
}
